.hide-block {
  display: none !important;
}

.talents-list {
  display: flex;
  margin-top: 60px;

  .filters {
    width: 435px;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    input[type="radio"] {
      display: none;
    }

    label {
      display: inline-block;
      margin-bottom: 17px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 27px;
      padding: 12px 25px;
      cursor: pointer;

      font-family: "Gotham Pro";
      font-weight: 400;
      font-size: 20px;

      color: #ffffff;
    }

    input[type="radio"]:checked + label {
      background: #b7babf;
      color: #000000;
    }
  }

  .candidates-list {
    flex: 1;
    margin-left: 90px;
    color: #ffffff;

    .title {
      margin: 0 0 52px;
      font-family: "Gotham Pro";
      font-weight: 500;
      font-size: 20px;
    }

    .candidates-block {
      max-height: 610px;
      overflow: auto;
    }

    .candidate {
      width: 100%;

      display: flex;
      justify-content: space-between;
      margin-bottom: 37px;

      .image {
        width: 172px;
        height: 115px;

        background-color: #ffffff;
      }

      font-family: "Gotham Pro";
      font-weight: 400;
      color: #ffffff;

      .info-block {
        p {
          margin: 0;
        }

        .info-price {
          display: none;
        }

        .info-title {
          font-size: 16px;
          margin-bottom: 23px;
        }

        .info-work-type {
          font-size: 14px;
          margin-bottom: 56px;
        }

        .info-footer {
          display: flex;
          justify-content: space-between;
          font-size: 10px;
        }
      }

      .price {
        font-size: 14px;
        margin-right: 50px;
      }
    }
  }

  //tablet
  @media screen and (max-width: 1439px) {
  }

  //mobile
  @media screen and (max-width: 640px) {
    margin-top: 43px;

    flex-direction: column;

    ::-webkit-scrollbar-thumb {
      display: none;
    }

    .filters {
      width: auto;
      justify-content: initial;
      flex-wrap: nowrap;
      overflow: auto;

      label {
        white-space: nowrap;
        padding: 10px;
        margin: 0 10px 43px 0;

        font-size: 14px;
      }
    }

    .candidates-list {
      margin-left: 0px;

      .title {
        margin-bottom: 22px;
      }

      .candidates-block {
        max-height: initial;
      }

      .candidate {
        margin-bottom: 16px;
        flex-direction: column;

        .image {
          height: 115px;
          width: 100%;
          margin-bottom: 16px;
        }

        .info-block {
          .info-header {
            display: flex;
            justify-content: space-between;

            .info-price {
              display: block;
            }
          }

          .info-price,
          .info-title,
          .info-work-type {
            font-size: 14px;
            margin-bottom: 12px;
          }
        }

        .price {
          display: none;
        }
      }
    }
  }
}

// scroll-bar

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-right: 2px solid #b7babf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;
}
