.home-main {
  height: 100vh;
  width: 100%;

  background: url(../../assets/images/main-background.png) no-repeat center
    center;
  background-size: cover;

  box-sizing: border-box;
  padding: 0 165px 120px;

  display: flex;
  align-items: flex-end;

  .home-bottom {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .text-block {
    display: flex;
    align-items: center;

    a {
      font-family: "Gotham Pro";
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;

      color: #f1f1f1;

      margin-left: 100px;
    }
  }

  //tablet
    @media screen and (min-width: 641px) and (max-width: 1439px) {    background: url(../../assets/images/main-background-mobile.png) no-repeat
      center center;
    background-size: cover;

    padding: 0 27px 56px;

    .text-block {
      max-width: 370px;
      justify-content: center;

      a {
        font-size: 16px;
        margin-left: 0;
      }
    }
  }

  //mobile
  @media screen and (max-width: 640px) {
    background: url(../../assets/images/main-background-mobile.png) no-repeat
      center center;
    background-size: cover;

    padding: 0 20px 49px;

    .text-block {
      flex-direction: column;
      max-width: 130px;

      a {
        font-size: 14px;
        margin-left: 0;
      }
    }
  }
}

.about-us-block {
  height: 100vh;
  width: 100%;
  padding: 0 165px 180px;
  box-sizing: border-box;

  position: relative;
  display: flex;
  align-items: flex-end;

  background: #f1f1f1;

  .background-img {
    position: absolute;
    left: 52px;
    top: 23px;

    max-width: 100%;
  }

  .background-img-mobile {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .text-block {
    z-index: 2;

    h2 {
      font-family: "Monument Extended";
      font-weight: 400;
      font-size: 64px;
      line-height: 77px;
      color: #030608;

      margin-bottom: 12px;
    }

    p {
      margin: 0;
      font-family: "Gotham Pro";
      font-weight: 500;
      font-size: 40px;
      line-height: 52px;
      color: #1a1b1d;
    }
  }

  //tablet
    @media screen and (min-width: 641px) and (max-width: 1439px) {    padding: 0 27px 56px;
    align-items: center;

    .background-img {
      position: absolute;
      left: 0;
      top: 101px;
    }

    .text-block {
      h2 {
        font-size: 48px;
        line-height: 58px;
      }

      p {
        font-size: 32px;
        line-height: 120%;
      }
    }
  }

  //mobile
  @media screen and (max-width: 640px) {
    padding: 0 20px 49px;
    align-items: center;

    .background-img {
      display: none;
    }

    .background-img-mobile {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .text-block {
      h2 {
        font-size: 32px;
        line-height: 38px;
      }

      p {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

.home-looking {
  height: 100vh;
  min-height: 1060px;
  width: 100%;
  padding: 145px 165px 180px;
  box-sizing: border-box;

  position: relative;

  .switch-block {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;

    button {
      border: none;
      outline: none;
      padding: 0 70px;
      background: none;

      font-family: "Gotham Pro";
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      color: #ffffff;
      text-underline-offset: 15px;

      cursor: pointer;
    }

    .active-button {
      color: #ffffff;
      text-decoration: underline;
    }
  }

  .main-text-block {
    position: relative;
    height: 372px;
    margin-bottom: 70px;
    font-weight: 400;

    .text-big {
      font-family: "Monument Extended";
      font-size: 112px;
      line-height: 124px;
      text-transform: uppercase;
    }

    .text-small {
      font-family: "Gotham Pro";
      font-size: 20px;
      line-height: 29px;
      text-transform: uppercase;
    }

    .top-text {
      position: absolute;
      top: 0;
      right: 0;
    }

    .left-text {
      position: absolute;
      top: 136px;
      right: 610px;
    }

    .right-text {
      position: absolute;
      top: 136px;
      right: 0;
      display: inline-block;
      width: 529px;
    }

    .bottom-text {
      position: absolute;
      top: 272px;
      right: 0;
    }

    .text-mobile {
      display: none;
    }
  }

  .button {
    position: absolute;
    padding: 23px 34px;
    display: block;
    border-radius: 49px;
    cursor: pointer;

    font-family: "Gotham Pro";
    font-weight: 500;
    font-size: 64px;
    line-height: 61px;
    text-transform: uppercase;
  }

  .decoration {
    z-index: 2;
  }

  .image-mobile-wrapper {
    display: none;
  }

  //tablet
    @media screen and (min-width: 641px) and (max-width: 1439px) {    height: auto;
    min-height: 783px;
    padding: 87px 27px 120px;

    .switch-block {
      justify-content: space-around;
      margin-bottom: 170px;

      button {
        padding: 0;
        font-size: 16px;
        text-underline-offset: 11px;
      }
    }

    .main-text-block {
      height: 266px;
      max-width: 665px;
      margin: 0 auto 64px;

      .text-big {
        font-size: 64px;
        line-height: 88px;
      }

      .text-small {
        font-size: 16px;
        line-height: 24px;
      }

      .top-text {
        right: 10px;
      }

      .left-text {
        top: 90px;
        left: 0;
      }

      .right-text {
        top: 85px;
        max-width: 360px;
      }

      .bottom-text {
        top: 180px;
      }
    }

    .button {
      padding: 14px 34px;

      font-size: 48px;
      line-height: 46px;
    }

    .decoration {
      width: 238px;
    }
  }

  //mobile
  @media screen and (max-width: 640px) {
    height: auto;
    min-height: 869px;
    padding: 65px 15px 95px;

    .switch-block {
      flex-direction: column;
      margin-bottom: 22px;

      button {
        padding: 0;
        margin-bottom: 38px;

        font-size: 14px;
        line-height: 13px;
        text-underline-offset: 6px;
      }
    }

    .image-mobile-wrapper {
      display: flex;
      justify-content: center;
      min-height: 165px;
      margin-bottom: 40px;

      img {
        width: 100%;
      }
    }

    .main-text-block {
      height: 271px;
      max-width: 350px;
      margin: 0 auto 50px;

      .text-big {
        font-size: 40px;
        line-height: 52px;
      }

      .left-text {
        top: 51px;
        left: 0;
      }

      .bottom-text {
        top: 102px;
        right: 13px;
      }

      .right-text {
        display: none;
      }

      .text-small {
        font-size: 14px;
        line-height: 17px;
      }

      .text-mobile {
        display: block;
        position: absolute;
        top: 218px;
        left: 0;
      }
    }

    .decoration {
      display: none;
    }

    .button {
      position: initial;
      width: 210px;
      box-sizing: border-box;
      padding: 13px 69px;
      margin: 0 auto;

      font-size: 25px;
      line-height: 24px;
    }
  }
}

.grey-home {
  background: #b7babf;

  .switch-block button {
    color: #000000;
  }

  .main-text-block .text {
    color: #1a1b1d;
  }

  .button {
    background: rgba(0, 0, 0, 0.2);
    color: #000000;
  }

  .decoration {
    position: absolute;
    right: 165px;

    //tablet
      @media screen and (min-width: 641px) and (max-width: 1439px) {      right: 25px;
    }
  }
}

.black-home {
  background: #2c2c2c;

  .switch-block button {
    color: #b7babf;
  }

  .main-text-block .text {
    color: #b7babf;
  }

  .button {
    right: 165px;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
  }

  .decoration {
    position: absolute;
    left: 165px;
  }

    @media screen and (min-width: 641px) and (max-width: 1439px) {    //TODO
    .button {
      right: 25px;
    }

    .decoration {
      left: 25px;
      bottom: 0;
    }
  }
}

.home-focus {
  background: #2c2c2c;

  padding: 190px 165px 25px;
  box-sizing: border-box;
  position: relative;

  img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .main-block {
    z-index: 2;

    .main-text {
      margin: 0;
      padding: 0 0 100px;

      font-family: "Monument Extended";
      font-weight: 400;
      font-size: 64px;

      color: #b7babf;
    }

    li {
      margin: 0 0 100px;
    }

    .speciality-list {
      list-style: none;
      margin: 0;
      padding: 0;

      .speciality-item {
        display: flex;
        align-items: flex-start;
        margin: 0 0 60px;

        font-family: "Gotham Pro";
        font-weight: 400;
        color: #ffffff;

        span {
          font-size: 20px;
          line-height: 29px;

          text-transform: uppercase;

          margin-right: 15px;
        }

        p {
          margin: 0;
          font-size: 48px;
          line-height: 46px;
        }
      }

      .line {
        display: block;
        width: 100%;
        border-top: 2px solid #ffffff;
      }
    }
  }

  //tablet
    @media screen and (min-width: 641px) and (max-width: 1439px) {    padding: 44px 27px;
    overflow: hidden;

    img {
      height: 100%;
    }

    .main-block {
      .main-text {
        padding: 0 0 30px;
        font-size: 48px;
      }

      li {
        margin: 0 0 67px;
      }

      .speciality-list {
        .speciality-item {
          margin: 0 0 30px;

          span {
            font-size: 16px;
            line-height: 15px;

            margin-right: 8px;
          }

          p {
            font-size: 36px;
            line-height: 34px;
          }
        }
      }
    }
  }

  //mobile
  @media screen and (max-width: 640px) {
    padding: 27px 15px 60px;

    img {
      height: 100%;
    }

    .main-block {
      .main-text {
        font-size: 36px;
        padding: 0 0 64px;
      }

      li {
        margin: 0 0 32px;
      }

      .speciality-list .speciality-item {
        margin: 0 0 20px;

        span {
          font-size: 14px;
        }

        p {
          font-size: 24px;
          line-height: 23px;
        }
      }
    }
  }
}

.home-talents {
  padding: 152px 165px 108px;
  background: #1a1b1d;

  .page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;

    font-family: "Monument Extended";
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;

    color: #ffffff;

    .open-btn {
      background: transparent;
      border: none;
      cursor: pointer;

      color: black;

      &:hover {
        color: #a179cf;
      }

      .arrow-mobile {
        display: none;
      }
    }
  }

  hr {
    margin-bottom: 65px;
  }

  .text {
    margin: 0;

    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #ffffff;
  }

  //tablet
    @media screen and (min-width: 641px) and (max-width: 1439px) {    padding: 46px 27px 64px;

    .page-header {
      margin-bottom: 30px;

      font-size: 48px;
      line-height: 58px;
    }

    hr {
      margin-bottom: 22px;
    }

    .text {
      font-size: 20px;
      line-height: 30px;
    }
  }

  //mobile
  @media screen and (max-width: 640px) {
    padding: 41px 15px 64px;

    .page-header {
      font-size: 32px;
      line-height: 38px;

      .open-btn {
        .arrow-mobile {
          display: block;
        }

        .arrow {
          display: none;
        }
      }
    }

    hr {
      margin-bottom: 33px;
    }

    .text {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.hires-block {
  width: 100%;
  background: #2a2a2a;
  height: 1080px;
  position: relative;
  overflow: hidden;

  .backgroung-img {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1091px;
  }

  .backgroung-img-mobile-top,
  .backgroung-img-mobile-bottom {
    display: none;
  }

  .content-block {
    position: relative;
    z-index: 3;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 118px 165px 0;
    position: relative;

    .article {
      font-family: "Monument Extended";
      font-weight: 500;
      font-size: 64px;
      line-height: 77px;
      text-align: end;
      margin: 0 0 58px;

      color: #030608;
    }

    .carousel-block-1 {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 90px;
    }
  }

  //tablet
  @media screen and (max-width: 1440px) {
  }

  //mobile
  @media screen and (max-width: 640px) {
    height: auto;
    background: #b7babf;

    .backgroung-img {
      display: none;
    }

    .backgroung-img-mobile-top {
      display: block;
      z-index: 2;
      position: absolute;
      top: 0;
      height: 230px;
    }

    .backgroung-img-mobile-bottom {
      display: block;
      z-index: 2;
      position: absolute;
      bottom: 0;
    }

    .content-block {
      max-width: 100%;
      padding: 243px 15px 217px;

      .article {
        font-size: 32px;
        line-height: 38px;
        text-align: start;
        margin-bottom: 46px;
      }

      .carousel-block-1 {
        margin-bottom: 0;
      }
    }
  }
}

.rotate {
  transform: rotate(180deg);
}

// //tablet
//   @media screen and (min-width: 641px) and (max-width: 1439px) {// }

// //mobile
// @media screen and (max-width: 640px) {
// }
