.thank-you-block {
  margin: 304px 165px 0;
  background: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;

  .main-text {
    margin: 0 0 40px;
    text-align: center;

    font-family: "Monument Extended";
    font-weight: 500;
    font-size: 140px;
    line-height: 168px;

    color: #030608;
  }

  .addiotional-text {
    display: inline-block;
    margin: 0 0 60px;
    max-width: 700px;

    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #1a1b1d;
  }

  //tablet
    @media screen and (min-width: 641px) and (max-width: 1439px) {  }

  //mobile
  @media screen and (max-width: 640px) {
    margin: 160px 15px 70px;

    .main-text {
      font-size: 70px;
      line-height: 84px;

      margin-bottom: 50px;
    }

    .addiotional-text {
      max-width: 100%;
      margin-bottom: 100px;

      font-size: 14px;
      line-height: 13px;
    }

    .back-btn {
      text-transform: capitalize;
    }
  }
}
