.main-page {
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;

  background: url(../../assets/images/candidates-main.png) no-repeat center
    center;
  background-size: cover;
  position: relative;
  padding-bottom: 50px;

  .main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    margin: 0 auto;
    max-width: 1366px;
    text-align: center;

    font-family: "Monument Extended";
    font-weight: 500;
    font-size: 112px;
    line-height: 124px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .main-page-bottom-part {
    position: absolute;
    bottom: 50px;
    right: 174px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .text {
      font-family: "Gotham Pro";
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      color: #ffffff;

      margin-right: 81px;
    }
  }

  //tablet
  @media screen and (max-width: 1439px) {
  }

  //mobile
  @media screen and (max-width: 640px) {
    padding-bottom: 30px;
    min-height: 100vh;

    .main-title {
      padding: 0 15px;
      max-width: 100%;

      font-size: 48px;
      line-height: 120%;
    }

    .main-page-bottom-part {
      padding: 0 15px;
      bottom: 30px;
      right: initial;
      width: calc(100% - 30px);

      justify-content: space-between;

      .text {
        font-size: 14px;
        line-height: 13px;

        margin-right: 0;
      }
    }
  }
}

.find-job-page {
  background: #ffffff;
  position: relative;

  .background-text {
    margin: 0;
    position: absolute;
    width: 1179px;
    height: 420px;

    font-family: "Monument Extended";
    font-weight: 400;
    font-size: 101px;
    line-height: 146px;

    color: #b7babf;

    filter: blur(8.5px);

    &-top {
      left: 14px;
      top: 0;
    }

    &-bottom {
      top: 380px;
      right: 0;
    }
  }

  .hire-form-wrapper {
    padding: 177px 165px 275px;

    .hire-form {
      background: #000000;
      border-radius: 76px;
      position: relative;
      z-index: 2;
      padding: 38px 0;

      .title {
        margin: 0 0 57px;
        text-align: center;
        font-family: "Monument Extended";
        font-weight: 400;
        font-size: 64px;

        color: #ffffff;
      }

      .input-wrapper {
        width: 980px;
        margin: 0 auto 28px;
        display: flex;

        .vertical-line-wrapper {
          background: rgba(255, 255, 255, 0.2);
          display: flex;
          align-items: center;
        }

        .vertical-line {
          display: block;
          height: 43px;
          width: 3px;

          background: #000000;
        }

        .input-item {
          width: calc(50% - 1.5px);
          display: flex;
          flex: 1;
          background: rgba(255, 255, 255, 0.2);
          padding: 14px;

          &:first-of-type {
            border-top-left-radius: 27px;
            border-bottom-left-radius: 27px;
          }

          &:last-of-type {
            border-top-right-radius: 27px;
            border-bottom-right-radius: 27px;
          }

          input {
            padding-left: 15px;
            height: 26px;
            width: calc(100% - 26px);
            background: none;
            outline: none;
            border: none;

            font-family: "Gotham Pro";
            font-weight: 400;
            font-size: 20px;

            color: rgba(255, 255, 255, 0.3);
          }
        }
      }

      .button-wrapper {
        width: 980px;
        margin: 0 auto 28px;
        display: flex;
        justify-content: flex-end;

        button {
          padding: 20px 30px;

          border: 1px solid #ffffff;
          border-radius: 27px;
          background: none;

          font-family: "Gotham Pro";
          font-weight: 400;
          font-size: 20px;

          color: #ffffff;

          transition: 0.5s;

          &:hover {
            cursor: pointer;
            background: #fff;
            color: #000000;
          }
        }
      }
    }
  }

  //tablet
  @media screen and (max-width: 1439px) {
  }

  //mobile
  @media screen and (max-width: 640px) {
    .background-text {
      width: 100%;
      height: auto;

      font-size: 48px;
      line-height: 149%;

      &-top {
        left: 0;
      }

      &-bottom {
        bottom: 0;
      }
    }

    .hire-form-wrapper {
      padding: 90px 15px;

      .hire-form {
        border-radius: 50px;
        padding: 40px 12px;

        .title {
          margin: 0;
          font-size: 32px;
        }

        .input-wrapper {
          width: 100%;
          margin: 23px auto 40px;
          flex-direction: column;

          .vertical-line-wrapper {
            display: none;
          }

          .input-item {
            width: calc(100% - 24px);
            border-radius: 27px;
            margin-bottom: 19px;

            input {
              font-size: 14px;
            }
          }
        }

        .button-wrapper {
          width: 100%;
          margin: 0 auto;

          justify-content: center;

          button {
            padding: 13px 0;
            width: 100%;

            font-size: 25px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.candidates-text-block {
  background: #fff;
  padding: 255px 0;
  max-width: 1113px;
  margin: 0 auto;
  position: relative;

  .main-text {
    margin: 0;
    font-family: "Monument Extended";
    font-weight: 500;
    font-size: 103px;
    line-height: 136px;

    text-transform: uppercase;

    color: #000000;

    &-right {
      position: relative;
      left: 300px;
      width: fit-content;
    }
  }

  .hire-link {
    font-family: "Gotham Pro";
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;

    color: #000000;

    text-underline-offset: 7px;
    text-decoration: underline;

    position: relative;
    bottom: 60px;

    transition: 0.5s;

    &:hover {
      color: #a179cf;
    }
  }

  .additional-text {
    position: absolute;
    margin: 0;

    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #1a1b1d;

    &-first {
      width: 727px;
      top: 418px;
      left: 382px;
    }

    &-second {
      width: 411px;
      top: 543px;
      left: 700px;
    }
  }

  //tablet
  @media screen and (max-width: 1439px) {
  }

  //mobile
  @media screen and (max-width: 640px) {
    padding: 60px 15px;
    max-width: 100%;

    .main-text {
      display: inline;
      font-size: 32px;
      line-height: 120%;
      text-transform: capitalize;

      &-right {
        position: inherit;
        left: 0;
      }
    }

    .additional-text {
      margin-top: 19px;
      position: initial;
      font-size: 14px;
      line-height: 17px;

      &-first,
      &-second {
        width: 100%;

        top: 0;
        left: 0;
      }

      &-second {
        margin-bottom: 19px;
      }
    }

    .hire-link {
      position: initial;
      bottom: initial;
      font-size: 19px;
    }
  }
}
