.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 35px 165px;

  background-color: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(39px);
  color: #ffffff;

  display: flex;

  &__logo {
    padding-right: 170px;
  }

  &__list {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0;

    list-style-type: none;
    text-transform: uppercase;
    font-family: "Gotham Pro";
    font-weight: 500;
    font-size: 15px;

    li a {
      color: #ffffff;
      text-decoration: none;

      &.selected {
        color: #9f67ff;
      }

      &.selected-company {
        color: #8944ff;
      }
    }

    li:hover a {
      transition: 0.5s;

      cursor: pointer;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__burger-wrapper {
    display: none;
  }

  //tablet
  @media screen and (max-width: 1439px) {
    height: 117px;
    padding: 27px 35px;
    align-items: center;

    backdrop-filter: blur(19.5px);

    &__logo {
      padding-right: 0;
      flex: 1;
    }

    &__list {
      width: 430px;
      flex: none;
    }
  }

  //mobile
  @media screen and (max-width: 640px) {
    height: 80px;
    padding: 12px 15px;

    background: rgba(217, 217, 217, 0.14);
    backdrop-filter: blur(7px);

    justify-content: space-between;
    align-items: center;

    &__logo {
      padding-right: 0;
    }
    &__list {
      display: none;
    }

    &__burger-wrapper {
      display: block;
      color: #ffffff;

      outline: none;
      background: none;
      border: none;
    }
  }
}

.header-black {
  background: rgba(0, 0, 0, 0.45);
}
