.contact-block {
  display: flex;

  .left-side {
    position: relative;
    width: 690px;
    background: #b7babf;

    .left-side-image {
      width: 690px;
    }

    .text-block {
      padding-left: 165px;

      font-family: "Gotham Pro";
      font-weight: 400;
      font-size: 20px;
      line-height: 19px;

      color: #ffffff;

      span {
        display: block;
        margin-bottom: 43px;

        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }

    .link-block {
      display: none;
      color: #ffffff;

      li a {
        color: #ffffff;
      }
    }
  }

  .right-side {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    padding: 0 165px 75px 65px;

    font-family: "Gotham Pro";
    color: #000000;

    .main-article {
      position: absolute;
      top: 135px;
      left: 65px;
      margin: 0;
      max-width: calc(100% - 65px);
      overflow-x: hidden;

      font-family: "Monument Extended";
      font-weight: 400;
      font-size: 134px;
      text-transform: uppercase;
      white-space: nowrap;
    }

    .form {
      margin-top: 330px;
      width: 100%;

      font-weight: 500;
      font-size: 16px;
      line-height: 15px;

      input {
        background: none;
        font-size: 14px;
        font-weight: 400;

        width: 100%;
        height: 30px;
        margin-bottom: 35px;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid #000000;
        outline: none;
      }

      .btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 115px;
      }
    }

    .link-block {
      .link-list {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        li a {
          font-weight: 500;
          font-size: 20px;
          text-decoration: none;

          color: #000000;

          &:hover {
            transition: 0.5s;
            color: #a179cf;
          }
        }
      }
    }
  }

  &-grey {
    .left-side {
      background: #ffffff;
      
      .link-block li a,
      .text-block,
      .text-block span a {
        color: #000000;
      }
    }

    .right-side {
      background: #b7babf;

      .form .btn-wrapper button {
        background: #ffffff;
      }
    }
  }

  //tablet
  @media screen and (max-width: 1439px) {
  }

  //mobile
  @media screen and (max-width: 640px) {
    flex-direction: column-reverse;

    .right-side {
      padding: 73px 15px 78px;

      .main-article {
        position: initial;

        max-width: 100%;
        font-size: 40px;

        span {
          display: none;
        }
      }

      .form {
        margin-top: 43px;

        .btn-wrapper {
          justify-content: center;
          margin-bottom: 0;
        }
      }

      .link-block {
        display: none;
      }
    }

    .left-side {
      width: 100%;

      .left-side-image {
        width: 100%;
      }

      .text-block {
        padding: 20px 15px 23px;
      }

      .link-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 15px 55px;

        .link-list {
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            margin-bottom: 24px;

            &:last-of-type {
              margin-bottom: 0px;
            }

            a {
              font-family: "Gotham Pro";
              font-weight: 400;
              font-size: 20px;
              text-decoration: none;

              &:hover {
                transition: 0.5s;
                color: #a179cf;
              }
            }
          }
        }
      }
    }
  }
}
