body {
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(./assets/fonts/GothamPro.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(./assets/fonts/GothamPro-Bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(./assets/fonts/GothamPro-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(./assets/fonts/GothamPro-Light.woff);
  font-weight: 300;
}

@font-face {
  font-family: "Monument Extended";
  src: url(./assets/fonts/MonumentExtended-Regular.otf);
  font-weight: 400;
}