body {
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(./assets/fonts/GothamPro.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(./assets/fonts/GothamPro-Bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(./assets/fonts/GothamPro-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(./assets/fonts/GothamPro-Light.woff);
  font-weight: 300;
}

@font-face {
  font-family: "Monument Extended";
  src: url(./assets/fonts/MonumentExtended-Regular.otf);
  font-weight: 400;
}

.confirm-btn {
  font-family: "Gotham Pro";

  padding: 20px 35px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 32px;

  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;

  &:hover {
    cursor: pointer;
    transition: 0.5s;
    background: rgb(0, 0, 0);
    color: white;
  }

  @media screen and (max-width: 743px) {
    padding: 13px 68px;
    text-transform: uppercase;
    font-size: 25px;
  }
}
